<div class="container analytic-bg">
  <div class="analytic-message">
    <h2 class="white-title">
      Add “I can do anything with data” to your vocabulary
    </h2>
    <p class="analytic-text">
      Inspire confidence in your decision-making with accessible analytics for
      leaders and teams.
    </p>
  </div>
  <img
    class="analytic-media-img"
    srcset="
      /src/assets/images/analyticMedia2x.png 2x,
      /src/assets/images/analyticMedia1x.png 1x
    "
    src="/src/assets/images/analyticMedia1x.png"
  />
  <img
    class="analytic-dash-img"
    srcset="
      /src/assets/images/analyticDashboard2x.png 2x,
      /src/assets/images/analyticDashboard1x.png 1x
    "
    src="/src/assets/images/analyticDashboard1x.png"
  />
</div>
