<div class="section">
  <div class="container footer-container">
    <div>
      <nav>
        <ul class="nav-footer-menu">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Customers</a></li>
          <li><a href="#">Resources</a></li>
          <li><a href="#">MetricHQ</a></li>
          <li><a href="#">Sitemap</a></li>
        </ul>
      </nav>
      <div class="footer-list-wrapper">
        <ul class="footer-list">
          <li><a href="#">Solutions</a></li>
          <li><a href="#">By Department</a></li>
          <li><a href="#">By Industry</a></li>
          <li><a href="#">By Integration Mashup</a></li>
          <li><a href="#">By Use Case</a></li>
        </ul>
        <ul class="footer-list">
          <li><a href="#">Templates and Examples</a></li>
          <li><a href="#">Live Dashboard Examples</a></li>
          <li><a href="#">Dashboard Templates</a></li>
          <li><a href="#">Dashboard Examples</a></li>
          <li><a href="#">Klip Templates</a></li>
          <li><a href="#">KPI Examples</a></li>
        </ul>
        <ul class="footer-list">
          <li><a href="#">Partner With Us</a></li>
          <li><a href="#">Become a Klipfolio Partner</a></li>
          <li><a href="#">Become an Integration Partner</a></li>
          <li><a href="#">Partners Directory</a></li>
          <li><a href="#">White-Label Reporting</a></li>
        </ul>
        <ul class="footer-list">
          <li><a href="#">Award Winning Support</a></li>
          <li><a href="#">Videos</a></li>
          <li><a href="#">Quick Tips</a></li>
          <li><a href="#">Developer Docs</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container copyright-wrapper">
    <p>Copyright © 2001 - 2021 Klipfolio Inc. All Rights Reserved.</p>
    <ul class="copyright-nav-link">
      <li><a href="#">Legal</a></li>
      <li><a href="#">Security</a></li>
      <li><a href="#">Accessibility</a></li>
    </ul>
  </div>
</div>
