<section class="section goals-section">
  <div class="container">
    <img
      class="goals-img"
      srcset="
        /src/assets/images/goals2x.png 2x,
        /src/assets/images/goals1x.png 1x
      "
      src="/src/assets/images/goals1x.png"
    />
    <h2 class="title dark-title goals-title">
      Reach your goals with confidence
    </h2>
    <p class="section-text goals-text">
      Monitor and track your metrics in real time so you can celebrate your wins
      as they happen or address issues before it’s too late.
    </p>
  </div>
</section>
