
    <div class="container header-flex">

      <a href="./">
    
        <svg width="100" height="32">
          <use href="/src/icons/sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <nav>
        <ul class="nav-links">
          <li>
            <div class="dropdown">
              <button class="dropdown-btn">
                Products
                            <svg class="" width="9" height="6">
                  <use href="/src/icons/sprite.svg#icon-dropdown"></use>
                </svg>
              </button>
              <ul class="dropdown-content">
                <li class="dropdown-item"><a href="">Product A</a></li>
                <li class="dropdown-item"><a href="">Product B</a></li>
              </ul>
            </div>
                
          </li>
          <li class="dropdown-item"><a href="">Pricing</a></li>
          <li class="dropdown-item"><a href="">Integrations</a></li>
          <li >
            <div class="dropdown">
              <button class="dropdown-btn">
                Client Reporting
                            <svg class="" width="9" height="6">
                  <use href="/src/icons/sprite.svg#icon-dropdown"></use>
                </svg>
              </button>
              <ul class="dropdown-content" >
                <li class="dropdown-item"><a href="">Report Form A</a></li>
                <li class="dropdown-item"><a href="">Report Form B</a></li>
              </ul>
            </div>
            </a>
          </li>
          <li >
            <div class="dropdown">
              <button class="dropdown-btn">
                Learning
                            <svg class="" width="9" height="6">
                  <use href="/src/icons/sprite.svg#icon-dropdown"></use>
                </svg>
              </button>
              <ul class="dropdown-content" >
                <li class="dropdown-item"><a href="">Forum</a></li>
                <li class="dropdown-item"><a href="">Q&A</a></li>
              </ul>
            
          </li>
          <li class="dropdown-item"><a href="">
            We're Hiring
        </a></li>
        </ul>
      </nav>
      <ul class="auth-links">
        <li class="login-title"><a href="">Log In</a></li>
        <li class="get-started-title"><a href="">Get Started Free</a></li>
      </ul>
    </div>


