<div class="header-flex">
  <a href="./">

    <svg width="100" height="32">
      <use href="/src/icons/sprite.svg#icon-logo"></use>
    </svg>
  </a>
  <nav>
    <ul class="nav-links">
      <li>
            <select class="header-select" name="select">
              <option value="value1" selected><a href="">Products</a></option>
              <option value="value2"><a href="">Services</a></option>
            </select>
      </li>
      <li><a href="">Pricing</a></li>
      <li><a href="">Integrations</a></li>
      <li>
        <a href="">
            <select class="header-select" name="select">
              <option value="value1" selected><a href="">Client Reporting</a></option>
            </select>

        </a>
      </li>
      <li>
        <a href="">
            <select class="header-select" name="select">
              <option value="value1" selected><a href="">Learning</a></option>
              <option value="value2"><a href="">Q&A</a></option>

        </a>
        </select>
      </li>
      <li><a href="">
        We're Hiring
    </a></li>
    </ul>
  </nav>
  <ul class="auth-links">
    <li class="login-title"><a href="">Log In</a></li>
    <li class="get-started-title"><a href="">Get Started Free</a></li>
  </ul>
</div>
