<section class="hero-section">
    <div class="hero-text-wrapper">
        <h1 class="hero-title">Succeed with data<h1>
        <p class="hero-text">PowerMetrics is a lightweight BI tool that helps you
           explore and share the right insights at the right time.
        </p>
        <div class="hero-navigate-wrapper">
             <button class="hero-btn" type="button">Get PowerMetrics Free</button>
        <a href="#">Request a Demo</a>  
        </div>
         
        </div>
    <div>
        <img class="hero-image"
        alt="hero"
        srcset="./assets/images/heroImg2x.png 2x, ./assets/images/heroImg1x.png 1x"
        src="./assets/images/heroImg2x.png"/>
        
        <div>
           <!-- <div class="bg-gradient"></div> -->
        </section>
