<section class=" section hero-section">
    <div class="container hero-container">
        <div class="hero-text-wrapper">
            <h1 class="hero-title dark-title">Succeed with data<h1>
            <p class="section-text hero-text dark-title">PowerMetrics is a lightweight BI tool that helps you
               explore and share the right insights at the right time.
            </p>
            <div class="hero-navigate-wrapper">
                 <a href="#" class="btn-link hero-btn-link">Get PowerMetrics Free</a>
            <a href="#" class="hero-link">Request a Demo</a>  
            </div>
        </div>
        <div>
            <div class="hero-image">
            </div>    
            <div>
    </div>

</section>
       
