<section class="section metrics-section">
  <div class="container metric-container">
    <img
      src="/src/assets/images/metric1x.png"
      srcset="
        /src/assets/images/metricImg2x.png 2x,
        /src/assets/images/metricImg1x.png 1x
      "
    />
    <div>
      <h2 class="section-title metric-title">
        Pull yourself out of the spreadsheet haze
      </h2>
      <p class="section-text metric-text">
        Find clarity in your data. Bring all of your metrics together in one
        place so you and your team can validate business decisions from a single
        source of truth.
      </p>
    </div>
  </div>
</section>
