<section class="section opport-section">
  <div class="container">
    <img
      srcset="
        /src/assets/images/opportunities2x.png 2x,
        /src/assets/images/opportunities1x.png 1x
      "
      src="/src/assets/images/opportunities1x.png"
    />
    <h2 class="dark-title opport-title">
      Share business insights before your team even asks for them
    </h2>
    <p class="section-text opport-text">
      Lightweight, modern analytics that will have your team asking, “Hey, can I
      do that, too?” (Spoiler alert: Yes, they can!)
    </p>
  </div>
</section>
