/* containers, section */
.container {
  padding-left: 120px;
  padding-right: 120px;
  outline: solid 1px red;
}
.section {
  margin-left: auto;
  margin-right: auto;
  width: 1440px;
}
.section-gradient1 {
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url('../assets/images/bg1x.png');
}
.section-gradient2 {
  background-repeat: no-repeat;
  background-size: 125.118% 100%;
  background-image: url('../assets/images/bg1x.png');
}

.section-title {
  font-size: 68px;
  font-weight: 800;
  line-height: 82px;
  letter-spacing: 2.0399999618530273px;
}
.section-text {
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0em;
}

.white-title {
  color: var(--primary-light-text-color);
}
.dark-title {
  color: var(--primary-text-colorr);
}
.btn-link {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  border-radius: 32px;
  border: none;
  padding: 16px 24px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-right: 24px;
}
