.footer-section {
  margin-top: 1303px;
}
.footer-container {
  background-color: var(--gray-element-color);
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 30px;
}
.footer-list-wrapper {
  display: flex;
  gap: 45px;
}
.nav-footer-menu {
  display: flex;
  gap: 14px;
  flex-wrap: nowrap;
  color: var(--primary-light-text-color);
  font-size: 15px;
  font-weight: 800;
  line-height: 15px;
  letter-spacing: 0em;
  padding-bottom: 21px;
  border-bottom: 1px solid var(--primary-light-text-color);
  margin-bottom: 24px;
}
.footer-list {
  display: flex;
  flex-direction: column;
  color: var(--primary-light-text-color);
  width: 251.25px;
  height: 186px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  padding-bottom: 20px;
  margin-bottom: 45px;
}
.copyright-wrapper {
  background-color: var(--black-element-color);
  color: var(--gray-text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 49px;
}
.copyright-nav-link {
  display: flex;
  gap: 20px;
}
