.goals-section {
  padding-bottom: 252px;
}
.goals-title {
  width: 684px;
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
}
.goals-text {
  width: 665px;
  font-size: 31px;
  margin-top: 17px;
  margin-left: auto;
  margin-right: auto;
}
