.hero-section {
  padding-top: 64px;
  /* padding: 191.56px; */
}
.hero-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.hero-text-wrapper {
  padding: 119.72px 0;
  width: 467.19px;
  height: 474px;
}
.hero-title {
  width: 485px;
  height: 212px;
  font-weight: 800;
  font-size: 86px;
  line-height: 105.6px;
  letter-spacing: 2.64px;
  margin-bottom: 19px;
}
.hero-text {
  margin-bottom: 48.72px;
}
.hero-btn-link {
  color: var(--primary-light-text-color);
  background-color: var(--primary-text-color);
  margin-right: 24px;
}
.hero-btn-link:hover {
  background-color: var(--primary-element-color);
}
.hero-link {
  font-size: 16px;
  font-weight: 800;
  line-height: 27.2px;
  letter-spacing: 0em;
  width: 147px;
  height: 28px;
  color: var(--primary-main-title-color);
}
.hero-link:hover {
  color: var(--dark-blue-text-color);
}
.hero-navigate-wrapper {
  display: flex;
  align-items: center;

  width: 467.19px;
  height: 48px;
  top: 426px;
  padding: 0px, 57.19px, 0px, 0px;
}

.hero-image {
  width: 701px;
  height: 713px;
  /* position: absolute; */
  /* z-index: 10; */
  top: 0px;
  right: 240px;
  background-image: url('../assets/images/heroImg1x.png');
}
