.metrics-section {
  padding-top: 48px;
  padding-bottom: 192px;
}
.metric-container {
  padding-top: 48px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--primary-main-title-color);
}
.metric-title {
  width: 735px;
  height: 245px;
  margin-bottom: 12px;
}
.metric-text {
  width: 624px;
  height: 154px;
}
