.opport-section {
  padding-bottom: 252px;
}
.opport-title {
  width: 642px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 64px;
}
.opport-text {
  width: 652px;
  margin-top: 17px;
  margin-left: auto;
  margin-right: auto;
}
